.modalBackground {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    position: fixed;
    inset: 0px;
    z-index: 1300;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
  }
  
  .modalShowing-true {
    opacity: 1;
    pointer-events: visible;
    max-height: calc(100vh - 20px);
    overflow-y: auto;
  }
  
  .modalInner {
    background: #505050f5;
    width: 900px;
    max-width: calc(100% - 60px);
    margin: auto;
    display: flex;
    flex-direction: row;
    color: white;
    text-align: left;
  }
  
  .modalText {
    padding: 15px;
  }
  
  .modalText p {
    line-height: 180%;
  }
  
  .modalText button {
    display: block;
    width: 100%;
    text-align: center;
  }
  
  .modalImage img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  
  .exitButton {
    padding: 15px;
    display: block;
    width: 100%;
    background-color: transparent;
    border: 0;
    color: white;
  }
  
  @media (max-width: 500px) {
    .modalImage {
      display: none;
    }
  }