.iconTrainer {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 34px;
    border-radius: 50%;
    margin: 3px;
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
    /* cursor: pointer; */
}