.inputLogin {
    display: flex;
    justify-content: center;
    width: 100% !important;
    align-items: 'center';
  }

.titleHr{
  background-color: #b9962da4;
  content: "";
  display: block;
  height: 6px;
  top: 87px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 50px;
  text-align: center;
}

  /* .titleLogin:after {
    position: absolute;
    background-color: #b9962da4;
    content: "";
    display: block;
    height: 6px;
    top: 87px;
    width: 90%;
    margin-left: 5%;
    text-align: center;

} */
.titleLogin{
    color: #505050;
    font-family: "Oswald-Medium";
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  text-align: center; 
}
