

:root {
    --container-bg-color: #333;
    --right-bg-color: #b9962da4;
    --left-button-hover-color: rgba(161, 11, 11, 0.3);
    --left-bg-color: rgba(43, 43, 43, 0.8);
    --right-button-hover-color: rgba(92, 92, 92, 0.3);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
  }
  
  html, body {
    padding:0;
    margin:0;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  } 
  
  .homeTitle {
    font-size: 80px;
    color: #fff;
    font-family: "Oswald-Medium";
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  
  .homebutton {
    display: block;
    position: absolute;
    left: 50%;
    top: 55%;
    height: 3rem;
    padding-top: 0.5rem;
    width: 15rem;
    text-align: center;
    color: #fff !important;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
  } 

  
  .split.left .button:hover {
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
  }
  
  .split.right .button:hover {
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
  } 
  
  .container-homepage {
    /* position: relative; */
    width: 100%;
    height: 100%;
    background: var(--container-bg-color);
  }
  
  .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  } 
  
  .split.left {
    left:0;
    background: url('./../Images/xbodyHome.jpg') center center no-repeat;
    background-size: cover;
  }
  
  .split.left:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);
  }
  
  .split.right {
    right:0;
    background: url('./../Images/goldenGymHome.jpg') center center no-repeat;
    background-size: cover;
  }
  
   .split.right:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--right-bg-color);
  }
  
  .split.left, .split.right, .split.right:before, .split.left:before {
    transition: var(--speed) all ease-in-out;
  }
  
  .hover-left .left {
    width: var(--hover-width);
  }
  
  .hover-left .right {
    width: var(--other-width);
  }
  
  .hover-left .right:before {
    z-index: 2;
  }
  
  
  .hover-right .right {
    width: var(--hover-width);
  }
  
  .hover-right .left {
    width: var(--other-width);
  }
  
  .hover-right .left:before {
    z-index: 2;
  }
  
  /* @media(max-width: 800px) {
    .homeTitle {
      font-size: 2rem;
    }
  
    .homebutton {
      width: 12rem;
    }
  } */
  @media(max-width: 1130px){
    .homeTitle {
      top: 25%;
      font-size: 60px;
    }
    .homebutton {
      top: 45%;
    }
  }

  @media(max-width: 900px){
    .homeTitle {
      top: 25%;
      font-size: 55px;
    }
    .homebutton {
      top: 45%;
    }
  }

  @media(max-width: 830px){
    .homeTitle {
      top: 25%;
      font-size: 50px;
    }
    .homebutton {
      top: 45%;
    }
  }

  @media(max-width: 780px){
    .container-homepage {
      /* position: relative; */
      margin-top: 50px;
    }
  }

  @media(max-width: 768px){
    .split {
      width: 100%;
      height: 50%;
    }
    .split.right {
      top: calc( 50% + 50px );
    }
    .homeTitle {
      top: 25%;
      font-size: 80px;
    }
    .homebutton {
      top: 60%;
    }
  }

  @media(max-width: 700px){
    .homeTitle {
      top: 25%;
      font-size: 60px;
    }

    
  }

  @media(max-width: 469px){
    .homeTitle {
      top: 25%;
      font-size: 50px;
    }
  }

  @media(max-width: 384px){
    .homeTitle {
      top: 35%;
      font-size: 45px;
    }
  }
  
  /* @media(max-height: 700px) {
    .homebutton {
      top: 70%;
    }
  }  */
