/* CUSTOM */


.mainSingleXbodyContainer{
    padding-top: 80px;
    width: 100%;
    height: 100%;
}
.singlexbodyTitle{
    color: #505050;
    font-family: "Oswald-Medium";
    font-size: 48px;
    font-weight: 500;
    font-style: italic;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    text-align: center; 
}

.singleXbodyPhoto{
    height: 80px;
    padding-bottom: 15px
}

.singleXbodyHr{
    background-color: #b9962da4;
    content: "";
    display: block;
    height: 6px;
    left: 6px;
    top: 87px;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.subTitleSingleXbodyContainer{
    width: 70%;
    margin-left: 15%;
    padding-top: 20px;
    /* padding-bottom: 20px; */

}

.subTitleSingleXbodyText{
    color: #505050;
    font-family: "Oswald-Medium";
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    margin: 0;
    text-transform: uppercase;

    position: relative;
    z-index: 1;
  text-align: center; 
}

.subTitleSingleXbodyHr{
    background-color: #b9962da4;
    content: "";
    display: block;
    height: 6px;
    left: 20%;
    top: 87px;
    width: 100%;
    text-align: center;
}

.carouselSingleXbody{
    width: 60%;
    margin-left: 20%
}

.singleTrainer{
    background-color: #50505040;
    margin-bottom:20px;
    /* padding: 30px; */
    border-radius: 5px;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:5px;
    padding-right:5px
}

.singleTrainer:hover {
    background-color: #b9962da4;
  }

  .photoFigure{
      
  }
/* End of custom */

.container-club {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row-trainers {
    margin-right: -15px;
    margin-left: -15px;
}

.row:before {
    display: table;
    content: " ";
}

.row-title {
    margin-right: -15px;
    margin-left: -15px;
}



.col-xs-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-12 {
    width: 100%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}









 .team-photo {
    margin: 0;
    padding: 0;
    border-radius: 100%;
    overflow: hidden;
    width: 140px;
    height: 140px;
    margin: auto auto 30px auto;
    -webkit-box-shadow: 0 0 20px 0 rgb(255 255 255 / 20%);
    box-shadow: 0 0 20px 0 rgb(255 255 255 / 20%);
}

figure {
    margin: 1em 40px;
}


.profesion {
    font-size: 19px;
    margin: 0 0 10px;
    /* font-weight: 600; */
    color: #ffffff;
    line-height: 1.4em;
}


.single-team .trainer-name {
    font-size: 25px;
}

.trainer-name {
    margin: 0 0 10px;
    /* font-weight: 600; */
    color: #ffffff;
    line-height: 1.4em;
}



.single-team .position {
    margin-bottom: 20px;
}


.social-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
}


.social-icon{
    font-family: 'IcoFont' !important;
    font-size: 20px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    cursor:pointer
}

.profile-picture{
        max-width: 100%;
        height: auto;
    
}

.social-menu a {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 34px;
    border-radius: 50%;
    margin: 3px;
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
}



@media (min-width: 992px){
    .col-md-3 {
        width: 25%;
    }
}

@media (min-width: 992px){
    .carouselSingleXbody{
        width: 70%;
        margin-left: 15%
    }
}




@media (min-width: 992px){
    .container-trainers {
        width: 970px;
    }
}

@media (min-width: 768px){
    .carouselSingleXbody{
        width: 80%;
        margin-left: 10%
    }
    
}



/* @media (min-width: 992px){
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }
}


@media (min-width: 768px){
    .container-trainers {
        width: 750px;
    }
}




@media (min-width: 768px){
    .col-sm-6 {
        width: 50%;
    }
}

@media (min-width: 768px){
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left;
    }
} */

