.mainXbodyContainer{
    padding-top: 80px
}

.pageElement{
    padding-bottom: 20px;
}

a:hover { text-decoration: none; }


.xbodyTitle{
    color: #505050;
    font-family: "Oswald-Medium";
    font-size: 68px;
    font-weight: 500;
    font-style: italic;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  text-align: center; 
}

.xbodyTitleImg{
    height: 90px;
    padding-bottom: 16px
}

.mainTitleHr{
    background-color: #b9962da4;
    content: "";
    display: block;
    height: 6px;
    left: 6px;
    top: 87px;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.xbodyImg{
margin:auto;

    padding:10px;
    width:50%
}

.xbodyDescription{
    margin-left:5%;
    margin-right:5%;

    text-align: center;
    /* font-size: 20px; */
    color:whitesmoke
}

.subTitleXbodyContainer{
    width: 100%;
    /* margin-left: 15%; */
    padding-top: 20px;
}

.subTitleXbodyText{
    color: #505050;
    font-family: "Oswald-Medium";
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  text-align: center; 
}

.subTitleXbodyHr{
    background-color: #b9962da4;
    content: "";
    display: block;
    height: 6px;
    left: 20%;
    top: 87px;
    width: 80%;
    text-align: center;
}

.clubsHr{
    background-color: #b9962da4;
    content: "";
    display: block;
    height: 6px;
    left: 20%;
    top: 87px;
    width: 80%;
    text-align: center;
}




@media only screen and (max-width: 780px) {
    .xbodyImg{
        /* margin-top: 0;
        margin:0%; */
        /* margin:auto; */
        /* padding:10%; */
 
        width:100%
    }
}