/* * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; } */

          body {
            background-color: #000;
            font-size: 16px;
            /* font-family: "Oswald-Medium"; */
            /* -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none; */
            background: #000; }
          
          .header {
            position: relative;
            /* display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox; */
            display: flex;
            /* -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-flow: column;
                -ms-flex-flow: column;
                    flex-flow: column;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                    justify-content: space-between; */
            /* padding: 50px 0; */
            /* margin-bottom: 50px; */
            /* overflow: hidden;  */
          }
          
          .header-wrapperr {
            z-index: 15;
            width: 100%;
            /* margin: 0 0 -150px; */
            /* position: -webkit-sticky; */
            position: sticky;
            top: 0;
            background-color: #101010;          
           }
          
          .header-container {
            justify-content: center;
            align-items: center;
            max-width: 1190px;
            width: 100%;
            padding: 0 10px;
            margin: 0 auto;
            /* display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox; */
            display: flex;
            /* -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row nowrap;
                -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
                -ms-flex-pack: justify; */
                    /* justify-content: space-between;
            position: relative;  */
          }
          
          .header-social {
            margin: 20px 0 0; }
          
          /* .header-logo {
            -webkit-transition: all 1.5s;
            -o-transition: all 1.5s;
            transition: all 1.5s; } */
            .header-logo img {
              /* max-width: 167px;  */
            height: 50px;
            }
            /* .header-logo:hover {
              -webkit-transform: scale(1.1);
                  -ms-transform: scale(1.1);
                      transform: scale(1.1); } */
          
          .header-social__content {
            margin: 0;
            padding: 0;
            list-style-type: none;
            /* display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox; */
            display: flex;
            /* -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row nowrap;
                -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;  */
                  }
            /* .header-social__content li:not(:last-child) {
              margin: 0 45px 0 0; } */
            .header-social__content li a {
              text-decoration: none;
              color: #fff;
              font-family: "OpenSansRegular";
              font-size: 18px;
              font-weight: 700;
              /* -webkit-transition: all 1s;
              -o-transition: all 1s;
              transition: all 1s;  */
            }
              .header-social__content li a:hover {
                color: #77601d; }
          
          .header-info {
            margin: 20px 0 0;
            max-width: 175px;
            width: 100%;
            position: relative; }
            .header-info p {
              color: #fff;
              margin: 0;
              font-family: "OpenSansRegular";
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -webkit-flex-flow: row nowrap;
                  -ms-flex-flow: row nowrap;
                      flex-flow: row nowrap; }
              .header-info p span {
                color: #77601d; }
          
          .header-info__search {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row nowrap;
                -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;
            margin: 20px 0 0; }
          
          .search {
            display: inline-block;
            position: relative;
            height: 25px;
            width: 25px;
            padding: 0 0 0 10px;
            border: 3px solid #fff;
            -webkit-border-radius: 25px;
                    border-radius: 25px;
            -webkit-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
            cursor: text; }
            .search:after {
              content: "";
              position: absolute;
              width: 3px;
              height: 15px;
              right: -5px;
              top: 14px;
              background: #fff;
              -webkit-border-radius: 3px;
                      border-radius: 3px;
              -webkit-transform: rotate(-45deg);
                  -ms-transform: rotate(-45deg);
                      transform: rotate(-45deg);
              -webkit-transition: all 200ms ease;
              -o-transition: all 200ms ease;
              transition: all 200ms ease; }
            .search.formactive, .search:hover {
              width: 175px;
              margin-right: 0; }
              .search.formactive:after, .search:hover:after {
                height: 0; }
            .search input {
              width: 100%;
              border: none;
              -webkit-box-sizing: border-box;
                      box-sizing: border-box;
              font-family: Helvetica;
              font-size: 15px;
              color: inherit;
              background: transparent;
              outline-width: 0px;
              color: #fff; }
          
          
          
          
          
          .hidden-menu {
            /* display: none; */
            background-color: rgba(0, 0, 0);
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 12;
            top: 0;
            left: 0; }
            .hidden-menu ul {
              margin: 0;
              padding: 0;
              text-align: center;
              height: 100%;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -webkit-flex-flow: column nowrap;
                  -ms-flex-flow: column nowrap;
                      flex-flow: column nowrap;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              -webkit-box-align: stretch;
              -webkit-align-items: stretch;
                  -ms-flex-align: stretch;
                      align-items: stretch;
              -webkit-align-content: stretch;
                  -ms-flex-line-pack: stretch;
                      align-content: stretch;
              position: relative; }
              .hidden-menu ul li a {
                display: inline-block;
                margin: 20px auto;
                color: #fff;
                text-decoration: none; }
                .hidden-menu ul li a:hover {
                  color: #77601d; }
              .hidden-menu ul .inner_soc_container {
                height: 58px;
                width: 100%;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-flow: column nowrap;
                    -ms-flex-flow: column nowrap;
                        flex-flow: column nowrap;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                    -ms-flex-pack: center;
                        justify-content: center; }
                .hidden-menu ul .inner_soc_container ul {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-orient: horizontal;
                  -webkit-box-direction: normal;
                  -webkit-flex-flow: row nowrap;
                      -ms-flex-flow: row nowrap;
                          flex-flow: row nowrap;
                  list-style-type: none; }
                  .hidden-menu ul .inner_soc_container ul li {
                    font-size: 25px; }
                    .hidden-menu ul .inner_soc_container ul li:not(:first-child) {
                      margin-left: 25px; }
          
          .btn-menu {
            /* display: none; */
            text-align: center;
            width: 60px;
            height: 60px;
            /* line-height: 60px; */
            line-height: 50px;
            background-color: transparent;
            color: #77601d;
            cursor: pointer;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 100;
            font-size: 20px;
            -webkit-transition: all 0.35s ease 0s;
            -o-transition: all 0.35s ease 0s;
            transition: all 0.35s ease 0s; }
            .btn-menu:hover {
              color: #f7f7f7; }
          
          #scene {
            pointer-events: none !important; }
          
          
          
          .statistics {
            background-color: #000; }
          
          .statistics-row {
            color: #fff;
            /* display: -webkit-box; */
            /* display: -webkit-flex; */
            /* display: -ms-flexbox; */
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row wrap;
                -ms-flex-flow: row wrap;
                    flex-flow: row wrap;
            -webkit-justify-content: space-around;
                /* -ms-flex-pack: distribute; */
                    justify-content: space-around;
            margin: 0 auto;
            max-width: 1200px;
            padding: 0 15px;
            width: 100%; }
          
          .statistics-row__item {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row nowrap;
                -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            padding: 17px 0 20px; }
            .statistics-row__item img {
              max-width: 100%;
              max-height: 44px;
              margin: 0 20px 0 0; }
            .statistics-row__item:nth-child(2) img {
              margin: 0 33px 0 0; }
            .statistics-row__item:nth-child(3) img {
              margin: 0 28px 0 0; }
            .statistics-row__item .statistics-row__iinner span {
              font-family: "Oswald-Light";
              font-weight: 500;
              font-size: 48px; }
            .statistics-row__item .statistics-row__iinner h4 {
              color: #505050;
              font-family: "Oswald-Light";
              font-size: 15px;
              font-weight: 300;
              margin: 0;
              text-transform: uppercase;
              color: #56c9dc;
              font-size: 15px;
              margin: 10px 0 0;
              white-space: nowrap; }
          
          .about {
            /* padding-top: 50px;
            padding-bottom: 50px;
            pad */
            padding-bottom: 50px;
            padding-left: 50px;
            padding-right: 50px;

            /* background: url(http://via.placeholder.com/1920x1080) center/cover no-repeat #fff; */
            background-attachment: fixed; }
          
          .about-row {
            width: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row nowrap;
                -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center; }
          
          .about-row__item {
            margin: auto;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            -webkit-align-self: flex-start;
                -ms-flex-item-align: start;
                    align-self: flex-start;
                  /* display: flex; */
                 }
            .about-row__item:first-child {
              -webkit-box-flex: 1;
              -webkit-flex: 1;
                  -ms-flex: 1;
                      flex: 1; }
              .about-row__item:first-child img {
                max-width: 90%; }
          
                .about-row {
                  width: 100%;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-orient: horizontal;
                  -webkit-box-direction: normal;
                  -webkit-flex-flow: row nowrap;
                      -ms-flex-flow: row nowrap;
                          flex-flow: row nowrap;
                  -webkit-box-pack: center;
                  -webkit-justify-content: center;
                      -ms-flex-pack: center;
                          justify-content: center; }
                
                .about-row_text {
                  margin:auto;
                  -webkit-box-flex: 1;
                  -webkit-flex: 1;
                      -ms-flex: 1;
                          flex: 1;
                  -webkit-align-self: flex-start;
                      -ms-flex-item-align: start;
                          align-self: flex-start; }
                  .about-row_photo {
                    -webkit-box-flex: 1;
                    -webkit-flex: 1;
                        -ms-flex: 1;
                            flex: 1; }
                    .about-row_photo img {
                      margin-left: 6%;

                      max-width: 90%; }

          .about-title {
            color: #505050;
            font-family: "Oswald-Medium";
            font-size: 48px;
            font-weight: 500;
            font-style: italic;
            margin: 0;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
          text-align: center; }
           
          .about_text {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row nowrap;
                -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            padding: 0 5px 0 0; }
            .about_text h4 {
              color: #505050;
              font-family: "Oswald-Light";
              font-size: 15px;
              font-weight: 300;
              margin: 0;
              text-transform: uppercase;
              margin: 0 0 30px 200px;
              text-align: left; }
            .about_text p {
              color: whitesmoke;
              /* font-family: "OpenSansRegular"; */
              font-size: 15px;
              font-weight: 400;
              line-height: 26px;
              text-align: center;
              /* margin-top: 5%; */
              margin-left: 10%;
              margin-right: 10%;
              margin-bottom: 5%;

              /* margin: 0;
              margin: 0 0 67px 200px;  */
            }
            .about_text .member__link {
              border: 5px solid #77601d;
              width: 180px;
              height: 50px;
              line-height: 44px;
              text-align: center;
              position: relative;
              white-space: nowrap;
              transition: all .7s;
              margin: auto }
              .about_text .member__link:hover {
                -webkit-transform: translate(-10px);
                    -ms-transform: translate(-10px);
                        transform: translate(-10px); }
              .about_text .member__link:before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                border: 2px solid #77601d;
                opacity: 0;
                -webkit-transition: all .7s;
                -o-transition: all .7s;
                transition: all .7s;
                z-index: -1; }
              /* .about_text .member__link:hover:before {
                opacity: 1;
                -webkit-transform: translate(-10px, 5px);
                    -ms-transform: translate(-10px, 5px);
                        transform: translate(-10px, 5px); } */
              .about_text .member__link a {
                text-decoration: none;
                text-transform: uppercase;
                color: #77601d;
                display: block;
                font-size: 16px;
                /* font-weight: 300; */
         }
          
          .classes {
            padding: 100px 0;
            background: url(http://via.placeholder.com/1920x1080) top/cover no-repeat #000;
            background-attachment: fixed; }
          
          .classes-row {
            margin: 0 auto;
            max-width: 930px;
            padding: 0 15px;
            width: 100%; }
          
          .classes-title {
            color: #505050;
            font-family: "Oswald-Medium";
            font-size: 48px;
            font-weight: 500;
            font-style: italic;
            margin: 0;
            text-transform: uppercase;
            color: #fff;
            margin-bottom: 50px;
            text-align: center;
            position: relative;
            z-index: 1; }
            .classes-title:before {
              content: "Popular";
              position: absolute;
              color: #505050;
              font-size: 130px;
              font-family: "Fira Sans";
              z-index: -1;
              display: -webkit-inline-box;
              display: -webkit-inline-flex;
              display: -ms-inline-flexbox;
              display: inline-flex;
              top: -80px;
              left: 50%;
              -webkit-transform: translate(-50%);
                  -ms-transform: translate(-50%);
                      transform: translate(-50%);
              opacity: .5; }
          
          .classes-row__item {
            background-color: #FFF;
            padding: 48px 0 77px 0; }
            .classes-row__item h2 {
              color: #505050;
              font-family: "Oswald-Medium";
              font-size: 48px;
              font-weight: 500;
              font-style: italic;
              margin: 0;
              text-transform: uppercase;
              margin-bottom: 19px;
              text-align: center; }
          
          .classes-galery {
            position: relative;
            min-height: 300px;
            max-height: 500px;
            height: 100%; }
            .classes-galery .classes__link {
              border: 2px solid #77601d;
              width: 180px;
              height: 50px;
              line-height: 44px;
              text-align: center;
              position: relative;
              white-space: nowrap;
              -webkit-transition: all .7s;
              -o-transition: all .7s;
              transition: all .7s;
              margin: 0 150px 0 auto;
              padding: 0 10px; }
              .classes-galery .classes__link:hover {
                -webkit-transform: translate(-10px);
                    -ms-transform: translate(-10px);
                        transform: translate(-10px); }
              .classes-galery .classes__link:before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                border: 2px solid #77601d;
                opacity: 0;
                -webkit-transition: all .7s;
                -o-transition: all .7s;
                transition: all .7s;
                z-index: -1; }
              .classes-galery .classes__link:hover:before {
                opacity: 1;
                -webkit-transform: translate(-10px, 5px);
                    -ms-transform: translate(-10px, 5px);
                        transform: translate(-10px, 5px); }
              .classes-galery .classes__link a {
                text-decoration: none;
                text-transform: uppercase;
                color: #77601d;
                display: block;
                font-size: 15px;
                font-weight: 300;
                font-family: "Oswald-Light"; }
          
          .classes-galery__item {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            display: block;
            opacity: 0;
            z-index: 1;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-flow: column nowrap;
                -ms-flex-flow: column nowrap;
                    flex-flow: column nowrap;
            -webkit-box-align: end;
            -webkit-align-items: flex-end;
                -ms-flex-align: end;
                    align-items: flex-end;
            padding-right: 70px; }
            .classes-galery__item img {
              max-width: 100%;
              height: auto;
              position: absolute;
              top: -284px;
              left: -188px;
              z-index: 20; }
            .classes-galery__item p {
              color: #505050;
              font-family: "OpenSansRegular";
              font-size: 15px;
              font-weight: 400;
              line-height: 26px;
              margin: 0;
              margin-bottom: 67px;
              max-width: 330px; }
            .classes-galery__item span {
              position: absolute;
              color: #FFF;
              font-family: "Fira SansBold";
              bottom: -60px;
              left: 130px;
              font-size: 140px;
              font-weight: 800;
              font-style: italic;
              text-transform: uppercase; }
          
          .show {
            opacity: 1;
            z-index: 2;
            -webkit-transition: opacity 2s;
            -o-transition: opacity 2s;
            transition: opacity 2s; }
          
          .anim {
            -webkit-animation: star 1s ease;
                    animation: star 1s ease; }
          
          @-webkit-keyframes star {
            from {
              /* transform: translate(-100px) */
              -webkit-transform: skew(7deg);
                      transform: skew(7deg); }
            to {
              /* transform: translate(0) */
              -webkit-transform: skew(0);
                      transform: skew(0); } }
          
          @keyframes star {
            from {
              /* transform: translate(-100px) */
              -webkit-transform: skew(7deg);
                      transform: skew(7deg); }
            to {
              /* transform: translate(0) */
              -webkit-transform: skew(0);
                      transform: skew(0); } }
          
          .classes-galery__btns {
            bottom: 74px;
            left: 270px;
            position: absolute;
            z-index: 2; }
            .classes-galery__btns div {
              color: #77601d;
              cursor: pointer;
              display: inline-block;
              font-family: "Oswald-Light";
              font-size: 14px;
              font-weight: 300;
              position: relative;
              text-transform: uppercase;
              -webkit-transition: all .5s;
              -o-transition: all .5s;
              transition: all .5s; }
              .classes-galery__btns div:active {
                -webkit-transform: translate(1px, 2px);
                    -ms-transform: translate(1px, 2px);
                        transform: translate(1px, 2px); }
              .classes-galery__btns div:first-child {
                margin-right: 88px; }
            .classes-galery__btns .next:before {
              content: url(http://via.placeholder.com/27x27);
              display: block;
              height: 27px;
              left: -35px;
              position: absolute;
              top: -7px;
              width: 27px; }
            .classes-galery__btns .prev:after {
              content: url(http://via.placeholder.com/27x27);
              display: block;
              height: 27px;
              position: absolute;
              right: -35px;
              top: -7px;
              width: 27px; }
          
          .schedule {
            background-color: #FFF;
            padding: 100px 0;
            background: url(http://via.placeholder.com/1920x1080) top/cover no-repeat;
            background-attachment: fixed; }
          
          .schedule-title {
            color: #505050;
            font-family: "Oswald-Medium";
            font-size: 48px;
            font-weight: 500;
            font-style: italic;
            margin: 0;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 50px;
            position: relative;
            z-index: 1; }
            .schedule-title:before {
              content: "Classes";
              position: absolute;
              color: #ebebeb;
              font-size: 130px;
              font-family: "Fira Sans";
              z-index: -1;
              display: -webkit-inline-box;
              display: -webkit-inline-flex;
              display: -ms-inline-flexbox;
              display: inline-flex;
              top: -80px;
              left: 50%;
              -webkit-transform: translate(-50%);
                  -ms-transform: translate(-50%);
                      transform: translate(-50%);
              opacity: .38; }
          
          .schedule-row {
            max-width: 1190px;
            width: 100%;
            padding: 0 10px;
            margin: 0 auto; }
          
          .tabs {
            margin: 0 0 35px 0;
            padding: 0;
            list-style-type: none;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row wrap;
                -ms-flex-flow: row wrap;
                    flex-flow: row wrap;
            -webkit-justify-content: space-around;
                -ms-flex-pack: distribute;
                    justify-content: space-around; }
            .tabs li {
              color: #505050;
              font-family: "Oswald-Light";
              font-size: 15px;
              font-weight: 300;
              margin: 0;
              text-transform: uppercase;
              cursor: pointer;
              padding: 15px 30px; }
          
          .o_active {
            -webkit-box-shadow: 0 25px 45px rgba(152, 167, 170, 0.6);
                    box-shadow: 0 25px 45px rgba(152, 167, 170, 0.6);
            background-color: #77601d; }
          
          .tabs-content {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row wrap;
                -ms-flex-flow: row wrap;
                    flex-flow: row wrap;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: stretch;
            -webkit-align-items: stretch;
                -ms-flex-align: stretch;
                    align-items: stretch;
            -webkit-align-content: stretch;
                -ms-flex-line-pack: stretch;
                    align-content: stretch;
            display: none; }
          
          .tabs-active {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-animation: jump 2s ease;
                    animation: jump 2s ease; }
          
          @-webkit-keyframes jump {
            from {
              -webkit-transform: translate(0, -150px);
                      transform: translate(0, -150px);
              opacity: 0; }
            50% {
              -webkit-transform: translate(0, 15px);
                      transform: translate(0, 15px);
              opacity: 0.2; }
            to {
              -webkit-transform: translate(0);
                      transform: translate(0);
              opacity: 1; } }
          
          @keyframes jump {
            from {
              -webkit-transform: translate(0, -150px);
                      transform: translate(0, -150px);
              opacity: 0; }
            50% {
              -webkit-transform: translate(0, 15px);
                      transform: translate(0, 15px);
              opacity: 0.2; }
            to {
              -webkit-transform: translate(0);
                      transform: translate(0);
              opacity: 1; } }
          
          .tabs-content__item {
            -webkit-box-flex: 1;
            -webkit-flex: 1 0 292px;
                -ms-flex: 1 0 292px;
                    flex: 1 0 292px;
            text-align: center;
            padding: 21px 0 34px; }
            .tabs-content__item img {
              margin-bottom: 25px; }
            .tabs-content__item h4 {
              color: #505050;
              font-family: "Oswald-Light";
              font-size: 15px;
              font-weight: 300;
              margin: 0;
              text-transform: uppercase;
              margin: 13px 0 3px;
              font-size: 16px;
              font-family: "Oswald-Medium"; }
            .tabs-content__item p {
              color: #505050;
              font-family: "OpenSansRegular";
              font-size: 15px;
              font-weight: 400;
              line-height: 26px;
              margin: 0;
              font-family: "Oswald-Light";
              font-size: 15px;
              text-transform: uppercase;
              font-weight: 300;
              margin: 0; }
          
          .bback {
            background: url(http://via.placeholder.com/180x34) center no-repeat;
            padding: 8px; }
            .bback span {
              color: #505050;
              font-family: "Oswald-Light";
              font-size: 15px;
              font-weight: 300;
              margin: 0;
              text-transform: uppercase;
              color: #fff; }
          
          .services {
            padding: 100px 0;
            background: url(http://via.placeholder.com/1920x1080) center/cover no-repeat;
            background-attachment: fixed; }
            .services:hover .services-container {
              -webkit-transform: translateY(-50px);
                  -ms-transform: translateY(-50px);
                      transform: translateY(-50px); }
          
          .services-title {
            color: #505050;
            font-family: "Oswald-Medium";
            font-size: 48px;
            font-weight: 500;
            font-style: italic;
            margin: 0;
            text-transform: uppercase;
            margin: 0 0 25px;
            text-align: center;
            color: #FFF;
            position: relative;
            z-index: 1; }
            .services-title:before {
              content: "Services";
              position: absolute;
              color: #ebebeb;
              font-size: 130px;
              font-family: "Fira Sans";
              z-index: -1;
              display: -webkit-inline-box;
              display: -webkit-inline-flex;
              display: -ms-inline-flexbox;
              display: inline-flex;
              top: -80px;
              left: 50%;
              -webkit-transform: translate(-50%);
                  -ms-transform: translate(-50%);
                      transform: translate(-50%);
              z-index: -1;
              opacity: .1; }
          
          .services-container {
            max-width: 1130px;
            width: 100%;
            padding: 0 10px;
            margin: 0 auto;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-flow: column nowrap;
                -ms-flex-flow: column nowrap;
                    flex-flow: column nowrap;
            -webkit-align-content: stretch;
                -ms-flex-line-pack: stretch;
                    align-content: stretch;
            position: relative;
            z-index: 1;
            -webkit-transition: all 2s;
            -o-transition: all 2s;
            transition: all 2s; }
            .services-container .item-wrapper {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -webkit-flex-flow: row wrap;
                  -ms-flex-flow: row wrap;
                      flex-flow: row wrap;
              -webkit-box-pack: justify;
              -webkit-justify-content: space-between;
                  -ms-flex-pack: justify;
                      justify-content: space-between; }
              .services-container .item-wrapper:first-child {
                margin: 0 0 109px; }
            .services-container .services-img {
              position: absolute;
              width: 45%;
              left: 50%;
              right: 0;
              -webkit-transform: translate(-50%);
                  -ms-transform: translate(-50%);
                      transform: translate(-50%);
              max-width: 100%;
              z-index: -1;
              top: 140px; }
          
          .services-container__item {
            text-align: left; }
            .services-container__item span {
              color: #fff;
              font-family: "OpenSansBold";
              font-size: 120px;
              font-weight: 700;
              font-style: italic; }
            .services-container__item h5 {
              color: #505050;
              font-family: "Oswald-Light";
              font-size: 15px;
              font-weight: 300;
              margin: 0;
              text-transform: uppercase;
              color: #fff;
              font-size: 14px;
              margin: 11px 0 30px; }
            .services-container__item p {
              margin: 0;
              color: #505050;
              font-family: "OpenSansRegular";
              font-size: 15px;
              font-weight: 400;
              line-height: 26px;
              margin: 0;
              color: white;
              font-size: 14px; }
            .services-container__item:nth-child(odd) {
              text-align: right; }
            .services-container__item:nth-child(odd) p {
              color: #555; }
          
          .prices {
            background: url(http://via.placeholder.com/1920x1080) center/cover no-repeat #f1f3f3;
            background-attachment: fixed;
            padding: 100px 0; }
          
          .prices-title {
            color: #505050;
            font-family: "Oswald-Medium";
            font-size: 48px;
            font-weight: 500;
            font-style: italic;
            margin: 0;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 267px;
            position: relative;
            z-index: 1; }
            .prices-title:before {
              content: "Membership";
              position: absolute;
              color: #fff;
              font-size: 130px;
              font-family: "Fira Sans";
              z-index: -1;
              display: -webkit-inline-box;
              display: -webkit-inline-flex;
              display: -ms-inline-flexbox;
              display: inline-flex;
              top: -80px;
              left: 50%;
              -webkit-transform: translate(-50%);
                  -ms-transform: translate(-50%);
                      transform: translate(-50%);
              opacity: .5; }
          
          .prices-container {
            max-width: 1190px;
            width: 100%;
            padding: 0 10px;
            margin: 0 auto;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row wrap;
                -ms-flex-flow: row wrap;
                    flex-flow: row wrap;
            -webkit-justify-content: space-around;
                -ms-flex-pack: distribute;
                    justify-content: space-around; }
          
          .prices-container__item {
            background-color: #fff;
            -webkit-box-shadow: 0 25px 45px rgba(152, 167, 170, 0.23);
                    box-shadow: 0 25px 45px rgba(152, 167, 170, 0.23);
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-flow: column nowrap;
                -ms-flex-flow: column nowrap;
                    flex-flow: column nowrap;
            height: 596px;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            width: 370px;
            padding: 210px 0 0 30px;
            position: relative;
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 auto;
                -ms-flex: 0 0 auto;
                    flex: 0 0 auto; }
            .prices-container__item .trainer {
              display: none; }
            .prices-container__item > img {
              position: absolute;
              top: -164px;
              display: block;
              width: 100%;
              -webkit-align-self: flex-end;
                  -ms-flex-item-align: end;
                      align-self: flex-end;
              -webkit-transition: all 2s;
              -o-transition: all 2s;
              transition: all 2s;
              left: 0;
              right: 0; }
              .prices-container__item > img:hover {
                text-shadow: 0 20px 10px black;
                -webkit-transform: translate(0, -50px);
                    -ms-transform: translate(0, -50px);
                        transform: translate(0, -50px); }
            .prices-container__item h3 {
              color: #505050;
              font-family: "Oswald-Light";
              font-size: 15px;
              font-weight: 300;
              margin: 0;
              text-transform: uppercase;
              font-size: 16px;
              font-family: "Oswald-Medium";
              font-weight: 700;
              margin: 0 0 29px 0;
              -webkit-transition: all 1.5s;
              -o-transition: all 1.5s;
              transition: all 1.5s; }
              .prices-container__item h3:hover {
                /* transform: translate(2px) skew(180deg) */ }
            .prices-container__item ul {
              font-size: 15px;
              font-style: "Oswald-Light";
              font-weight: 300;
              list-style-type: none;
              margin: 0 0 45px 0;
              padding: 0 0 0 40px;
              text-transform: uppercase; }
              .prices-container__item ul li {
                height: 20px;
                -webkit-transition: -webkit-transform 2s;
                transition: -webkit-transform 2s;
                -o-transition: transform 2s;
                transition: transform 2s;
                transition: transform 2s, -webkit-transform 2s;
                margin: 0 0 20px 0;
                position: relative; }
                .prices-container__item ul li:last-child {
                  margin: 0; }
                .prices-container__item ul li:before {
                  content: url(http://via.placeholder.com/30x30);
                  position: absolute;
                  left: -40px;
                  top: -3px; }
                .prices-container__item ul li:hover {
                  -webkit-transform: scale(0.91);
                      -ms-transform: scale(0.91);
                          transform: scale(0.91); }
            .prices-container__item .prices-container__item-row {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -webkit-flex-flow: row nowrap;
                  -ms-flex-flow: row nowrap;
                      flex-flow: row nowrap;
              -webkit-box-pack: justify;
              -webkit-justify-content: space-between;
                  -ms-flex-pack: justify;
                      justify-content: space-between;
              -webkit-box-align: center;
              -webkit-align-items: center;
                  -ms-flex-align: center;
                      align-items: center;
              margin: auto 32px 53px 0; }
              .prices-container__item .prices-container__item-row span {
                line-height: 40px;
                font-size: 40px;
                font-family: "Oswald-Regular"; }
          
          .prices__link {
            border: 2px solid #77601d;
            width: 180px;
            height: 50px;
            line-height: 44px;
            text-align: center;
            position: relative;
            white-space: nowrap;
            -webkit-transition: all .7s;
            -o-transition: all .7s;
            transition: all .7s; }
            .prices__link:hover {
              -webkit-transform: translate(-10px);
                  -ms-transform: translate(-10px);
                      transform: translate(-10px); }
            .prices__link:before {
              content: '';
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              border: 2px solid #77601d;
              opacity: 0;
              -webkit-transition: all .7s;
              -o-transition: all .7s;
              transition: all .7s;
              z-index: -1; }
            .prices__link:hover:before {
              opacity: 1;
              -webkit-transform: translate(-10px, 5px);
                  -ms-transform: translate(-10px, 5px);
                      transform: translate(-10px, 5px); }
            .prices__link a {
              text-decoration: none;
              text-transform: uppercase;
              color: #77601d;
              display: block;
              font-size: 15px;
              font-weight: 300;
              font-family: "Oswald-Light"; }
          
          .stories {
            background: url(http://via.placeholder.com/1920x1080) center/cover no-repeat;
            background-attachment: fixed;
            padding: 100px 0; }
          
          .stories-title {
            color: #505050;
            font-family: "Oswald-Medium";
            font-size: 48px;
            font-weight: 500;
            font-style: italic;
            margin: 0;
            text-transform: uppercase;
            color: #FFF;
            text-align: center;
            margin: 0 0 50px;
            position: relative;
            z-index: 1; }
            .stories-title:before {
              content: "succesfull";
              position: absolute;
              color: #505050;
              font-size: 130px;
              font-family: "Fira Sans";
              z-index: -1;
              display: -webkit-inline-box;
              display: -webkit-inline-flex;
              display: -ms-inline-flexbox;
              display: inline-flex;
              top: -80px;
              left: 50%;
              -webkit-transform: translate(-50%);
                  -ms-transform: translate(-50%);
                      transform: translate(-50%);
              opacity: .53; }
          
          .stories-container {
            max-width: 1190px;
            width: 100%;
            padding: 0 10px;
            margin: 0 auto;
            text-align: center;
            position: relative; }
          
          .stories-gallery {
            position: relative; }
          
          .stories-gallery__wrap {
              display: -webkit-box !important;
              display: -webkit-flex !important;
              display: -ms-flexbox !important;
              display: flex !important;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-flow: column nowrap;
                -ms-flex-flow: column nowrap;
                    flex-flow: column nowrap;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            margin: 0 0 135px 0;
            height: 464px; }
            .stories-gallery__wrap h3 {
              color: #505050;
              font-family: "Oswald-Light";
              font-size: 15px;
              font-weight: 300;
              margin: 0;
              text-transform: uppercase;
              font-size: 14px;
              color: #f7f7f7;
              margin: 0 0 66px; }
            .stories-gallery__wrap p {
              color: #505050;
              font-family: "OpenSansRegular";
              font-size: 15px;
              font-weight: 400;
              line-height: 26px;
              margin: 0;
              color: #f7f7f7;
              font-size: 16px;
              max-width: 770px;
              margin: 0 0 28px;
              width: 100%; }
            .stories-gallery__wrap .stories-gallery__wrap-image-wrap {
              position: relative;
              height: 198px;
              -webkit-animation: jumpImg 1.5s ease;
                      animation: jumpImg 1.5s ease; }
              .stories-gallery__wrap .stories-gallery__wrap-image-wrap img {
                position: absolute;
                margin: 0 0 0 -98px; }
          
          @-webkit-keyframes jumpImg {
            from {
              -webkit-transform: translate(0, -20px);
                      transform: translate(0, -20px);
              opacity: 0; }
            50% {
              -webkit-transform: translate(0, 20px);
                      transform: translate(0, 20px);
              opacity: .5; }
            to {
              -webkit-transform: translate(0);
                      transform: translate(0);
              opacity: 1; } }
          
          @keyframes jumpImg {
            from {
              -webkit-transform: translate(0, -20px);
                      transform: translate(0, -20px);
              opacity: 0; }
            50% {
              -webkit-transform: translate(0, 20px);
                      transform: translate(0, 20px);
              opacity: .5; }
            to {
              -webkit-transform: translate(0);
                      transform: translate(0);
              opacity: 1; } }
          
          .gallery-active {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex; }
          
          .btn-prev, .btn-next {
            background: url(http://via.placeholder.com/39x39) center no-repeat;
            position: absolute;
            top: 20.7%;
            height: 39px;
            width: 39px;
            cursor: pointer;
            -webkit-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s; }
            .btn-prev:active, .btn-next:active {
              -webkit-transform: translate(1px, 2px);
                  -ms-transform: translate(1px, 2px);
                      transform: translate(1px, 2px); }
          
          .btn-prev {
            left: 3%; }
          
          .btn-next {
            background: url(http://via.placeholder.com/39x39) center no-repeat;
            right: 3%; }
          
          .news {
            background: url(http://via.placeholder.com/1920x1080) center/cover no-repeat #fff;
            background-attachment: fixed;
            padding: 100px 0; }
          
          .news-container {
            max-width: 1190px;
            width: 100%;
            padding: 0 10px;
            margin: 0 auto; }
          
          .news-title {
            color: #505050;
            font-family: "Oswald-Medium";
            font-size: 48px;
            font-weight: 500;
            font-style: italic;
            margin: 0;
            text-transform: uppercase;
            font-size: 36px;
            font-weight: 700;
            margin: 0 0 25px;
            text-align: right;
            position: relative;
            z-index: 1; }
            .news-title:before {
              content: "latest";
              position: absolute;
              color: #f7f7f7;
              font-size: 130px;
              font-family: "Fira Sans";
              z-index: -1;
              display: -webkit-inline-box;
              display: -webkit-inline-flex;
              display: -ms-inline-flexbox;
              display: inline-flex;
              top: -88px;
              opacity: .53;
              right: 20px; }
            .news-title:after {
              content: "";
              position: absolute;
              background: #77601d;
              height: 6px;
              width: 74px;
              bottom: 0;
              right: .1%;
              top: 77px; }
          
          .news-nav {
            margin: 0 0 43px; }
            .news-nav ul {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -webkit-flex-flow: row nowrap;
                  -ms-flex-flow: row nowrap;
                      flex-flow: row nowrap;
              list-style-type: none;
              margin: 0;
              padding: 0; }
              .news-nav ul li {
                color: #505050;
                cursor: pointer;
                font-family: "OpenSansRegular";
                font-size: 15px;
                font-weight: 300;
                -webkit-transition: all .7s;
                -o-transition: all .7s;
                transition: all .7s;
                text-decoration: none; }
                .news-nav ul li:not(:last-child) {
                  margin-right: 30px; }
                .news-nav ul li:hover {
                  color: #77601d;
                  text-decoration: line-through; }
            .news-nav .onactive {
              color: #77601d;
              text-decoration: line-through; }
          
          .news-container__wrapper {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row wrap;
                -ms-flex-flow: row wrap;
                    flex-flow: row wrap;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            margin: 0 0 209px; }
          
          .news-container__wrapper-item {
            max-width: 370px;
            text-align: center;
            position: relative; }
            .news-container__wrapper-item img {
              width: 100%;
              height: auto; }
          
          .news-container__wrapper-item-block {
            max-width: 336px;
            width: 100%;
            height: 247px;
            -webkit-box-shadow: 0 25px 45px rgba(152, 167, 170, 0.6);
                    box-shadow: 0 25px 45px rgba(152, 167, 170, 0.6);
            background: #fff;
            position: absolute;
            right: 0;
            bottom: -123px;
            padding: 15px 33px 0 30px; }
            .news-container__wrapper-item-block .news-container__date {
              position: relative;
              width: 65px;
              margin: 0 0 15px; }
            .news-container__wrapper-item-block .number2, .news-container__wrapper-item-block .number3 {
              color: #77601d;
              font-family: "Oswald-Regular";
              font-size: 80px; }
            .news-container__wrapper-item-block .number3 {
              font-size: 48px; }
            .news-container__wrapper-item-block .date {
              color: #000;
              font-family: "Oswald-Regular";
              font-size: 15px;
              text-transform: uppercase;
              position: absolute;
              top: 15px;
              left: 45px; }
            .news-container__wrapper-item-block .news-container__news {
              text-align: left;
              max-width: 181px;
              width: 100%;
              line-height: 24px; }
            .news-container__wrapper-item-block .news-container__info {
              text-transform: uppercase;
              font-family: "Oswald-Regular";
              color: #505050;
              -webkit-transform: rotate(-90deg);
                  -ms-transform: rotate(-90deg);
                      transform: rotate(-90deg);
              position: absolute;
              right: 0px;
              top: 96px; }
          
          .news-link {
            border: 2px solid #77601d;
            width: 180px;
            height: 50px;
            line-height: 44px;
            text-align: center;
            position: relative;
            white-space: nowrap;
            -webkit-transition: all .7s;
            -o-transition: all .7s;
            transition: all .7s;
            margin: 0 auto; }
            .news-link:hover {
              -webkit-transform: translate(-10px);
                  -ms-transform: translate(-10px);
                      transform: translate(-10px); }
            .news-link:before {
              content: '';
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              border: 2px solid #77601d;
              opacity: 0;
              -webkit-transition: all .7s;
              -o-transition: all .7s;
              transition: all .7s;
              z-index: -1; }
            .news-link:hover:before {
              opacity: 1;
              -webkit-transform: translate(-10px, 5px);
                  -ms-transform: translate(-10px, 5px);
                      transform: translate(-10px, 5px); }
            .news-link a {
              text-decoration: none;
              text-transform: uppercase;
              color: #77601d;
              display: block;
              font-size: 15px;
              font-weight: 300;
              font-family: "Oswald-Light"; }
          
          .gallery {
            background: url(http://via.placeholder.com/1920x1080) center/cover no-repeat #77601d;
            background-attachment: fixed;
            padding: 100px 0; }
          
          .gallery-container {
            max-width: 1620px;
            width: 100%;
            padding: 0 10px;
            margin: 0 auto; }
          
          .gallery-title {
            color: #505050;
            font-family: "Oswald-Medium";
            font-size: 48px;
            font-weight: 500;
            font-style: italic;
            margin: 0;
            text-transform: uppercase;
            text-align: center;
            margin: 0 0 43px;
            z-index: 1;
            position: relative; }
            .gallery-title:before {
              content: "Our sport work";
              position: absolute;
              color: #fff;
              font-size: 130px;
              font-family: "Fira Sans";
              z-index: -1;
              display: block;
              left: 250px;
              top: -80px;
              opacity: .2; }
          
          .gallery-nav {
            text-align: center;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row nowrap;
                -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            margin: 0 0 65px; }
            .gallery-nav ul {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -webkit-flex-flow: row nowrap;
                  -ms-flex-flow: row nowrap;
                      flex-flow: row nowrap;
              list-style-type: none;
              padding: 0;
              margin: 0;
              z-index: 5; }
              .gallery-nav ul li {
                color: #000;
                cursor: pointer;
                font-family: "OpenSansRegular";
                font-size: 15px;
                font-weight: 300;
                -webkit-transition: all .7s;
                -o-transition: all .7s;
                transition: all .7s;
                text-decoration: none; }
                .gallery-nav ul li:not(:last-child) {
                  margin-right: 30px; }
                .gallery-nav ul li:hover {
                  color: #fff;
                  text-decoration: line-through; }
            .gallery-nav .onnav {
              color: #fff;
              text-decoration: line-through; }
          
          .gallery-wrapper {
            margin: 0 0 90px; }
          
          .gallery-wrapper__item {
            position: relative;
            padding: 190px 0 90px;
            text-align: center; }
            .gallery-wrapper__item img {
              max-width: 100%; }
            .gallery-wrapper__item h3 {
              color: #505050;
              font-family: "Oswald-Medium";
              font-size: 48px;
              font-weight: 500;
              font-style: italic;
              margin: 0;
              text-transform: uppercase;
              color: #000;
              font-weight: 300;
              margin: 0 0 22px 0; }
            .gallery-wrapper__item span {
              position: relative;
              color: #505050;
              font-family: "Oswald-Light";
              font-size: 15px;
              font-weight: 300;
              margin: 0;
              text-transform: uppercase; }
              .gallery-wrapper__item span:after {
                /* content: url(../img/section10/bbg.png); */
                width: 21px;
                height: 80px;
                position: absolute;
                bottom: -80px;
                left: 8px; }
            .gallery-wrapper__item div {
              position: absolute;
              bottom: 35px;
              opacity: 0;
              pointer-events: none; }
          
          .gallery-wrapper__item > img:hover {
            opacity: 0; }
          
          .gallery-wrapper__item > img:hover ~ div:first-of-type {
            display: block;
            opacity: 1; }
            .gallery-wrapper__item > img:hover ~ div:first-of-type .visible {
              display: block; }
          
          .owl-nav {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row nowrap;
                -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;
            -webkit-justify-content: space-around;
                -ms-flex-pack: distribute;
                    justify-content: space-around;
            text-transform: uppercase;
            color: #000; }
            .owl-nav .owl-prev, .owl-nav .owl-next {
              -webkit-transition: all 1.5s;
              -o-transition: all 1.5s;
              transition: all 1.5s; }
              .owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
                color: #fff; }
          
          .gallery-link {
            border: 2px solid #77601d;
            width: 180px;
            height: 50px;
            line-height: 44px;
            text-align: center;
            position: relative;
            white-space: nowrap;
            -webkit-transition: all .7s;
            -o-transition: all .7s;
            transition: all .7s; }
            .gallery-link:hover {
              -webkit-transform: translate(-10px);
                  -ms-transform: translate(-10px);
                      transform: translate(-10px); }
            .gallery-link:before {
              content: '';
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              border: 2px solid #77601d;
              opacity: 0;
              -webkit-transition: all .7s;
              -o-transition: all .7s;
              transition: all .7s;
              z-index: -1; }
            .gallery-link:hover:before {
              opacity: 1;
              -webkit-transform: translate(-10px, 5px);
                  -ms-transform: translate(-10px, 5px);
                      transform: translate(-10px, 5px); }
            .gallery-link a {
              text-decoration: none;
              text-transform: uppercase;
              color: #77601d;
              display: block;
              font-size: 15px;
              font-weight: 300;
              font-family: "Oswald-Light"; }
          
          .contacts-row {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row wrap;
                -ms-flex-flow: row wrap;
                    flex-flow: row wrap; }
          
          .contacts-row__inner {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-flow: column nowrap;
                -ms-flex-flow: column nowrap;
                    flex-flow: column nowrap;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            background-color: #000;
            -webkit-box-flex: 3;
            -webkit-flex: 3;
                -ms-flex: 3;
                    flex: 3;
            padding: 75px 0; }
            .contacts-row__inner:first-child {
              padding-left: 10px;
              padding-right: 10px; }
            .contacts-row__inner:last-child {
              padding-left: 50px;
              padding-right: 50px;
              -webkit-box-align: start;
              -webkit-align-items: flex-start;
                  -ms-flex-align: start;
                      align-items: flex-start; }
            .contacts-row__inner .contacts-title-first {
              color: #505050;
              font-family: "Oswald-Medium";
              font-size: 48px;
              font-weight: 500;
              font-style: italic;
              margin: 0;
              text-transform: uppercase;
              color: #fff;
              text-align: center;
              margin: 0 0 45px; }
              .contacts-row__inner .contacts-title-first span {
                color: #77601d; }
            .contacts-row__inner form {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -webkit-flex-flow: column nowrap;
                  -ms-flex-flow: column nowrap;
                      flex-flow: column nowrap;
              margin: 0;
              max-width: 570px;
              width: 100%; }
              .contacts-row__inner form input {
                background-color: #000;
                color: #fff;
                padding: 23px 0 12px;
                border: none;
                border-bottom: 1px solid #77601d; }
                .contacts-row__inner form input:valid {
                  border-bottom: 1px solid #505050; }
                .contacts-row__inner form input::-webkit-input-placeholder {
                  color: #fff;
                  font-family: "OpenSansLight";
                  font-size: 15px;
                  font-weight: 400; }
                .contacts-row__inner form input::-moz-placeholder {
                  color: #fff;
                  font-family: "OpenSansLight";
                  font-size: 15px;
                  font-weight: 400; }
                .contacts-row__inner form input:-ms-input-placeholder {
                  color: #fff;
                  font-family: "OpenSansLight";
                  font-size: 15px;
                  font-weight: 400; }
                .contacts-row__inner form input::placeholder {
                  color: #fff;
                  font-family: "OpenSansLight";
                  font-size: 15px;
                  font-weight: 400; }
                .contacts-row__inner form input:focus {
                  outline: none; }
              .contacts-row__inner form textarea {
                background-color: #000;
                border: none;
                padding: 72px 0 10px;
                resize: none;
                color: #fff;
                height: 107px;
                border-bottom: 1px solid #77601d;
                margin: 0 0 67px; }
                .contacts-row__inner form textarea::-webkit-input-placeholder {
                  color: #fff;
                  font-family: "OpenSansLight";
                  font-size: 15px;
                  font-weight: 400; }
                .contacts-row__inner form textarea::-moz-placeholder {
                  color: #fff;
                  font-family: "OpenSansLight";
                  font-size: 15px;
                  font-weight: 400; }
                .contacts-row__inner form textarea:-ms-input-placeholder {
                  color: #fff;
                  font-family: "OpenSansLight";
                  font-size: 15px;
                  font-weight: 400; }
                .contacts-row__inner form textarea::placeholder {
                  color: #fff;
                  font-family: "OpenSansLight";
                  font-size: 15px;
                  font-weight: 400; }
                .contacts-row__inner form textarea:focus {
                  outline: none; }
              .contacts-row__inner form button {
                color: #77601d;
                font-size: 15px;
                font-weight: 300;
                font-family: "Oswald-Light";
                background-color: #000;
                border: 2px solid #77601d;
                height: 50px;
                line-height: 44px;
                margin: 0;
                padding: 0;
                position: relative;
                text-align: center;
                white-space: nowrap;
                width: 180px;
                text-transform: uppercase;
                -webkit-transition: all .7s;
                -o-transition: all .7s;
                transition: all .7s; }
                .contacts-row__inner form button:hover {
                  -webkit-transform: translate(-10px);
                      -ms-transform: translate(-10px);
                          transform: translate(-10px); }
                .contacts-row__inner form button:before {
                  content: '';
                  display: block;
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  left: 0;
                  border: 2px solid #77601d;
                  opacity: 0;
                  -webkit-transition: all .7s;
                  -o-transition: all .7s;
                  transition: all .7s;
                  z-index: -1; }
                .contacts-row__inner form button:hover:before {
                  opacity: 1;
                  -webkit-transform: translate(-10px, 5px);
                      -ms-transform: translate(-10px, 5px);
                          transform: translate(-10px, 5px); }
          
          .contacts-row__inner:last-child {
            background-color: #77601d;
            -webkit-box-flex: 2;
            -webkit-flex: 2;
                -ms-flex: 2;
                    flex: 2;
            position: relative;
            z-index: 1; }
            .contacts-row__inner:last-child .contacts-row__inner-back {
              font-size: 140px;
              text-transform: uppercase;
              position: absolute;
              -webkit-transform: rotate(-90deg);
                  -ms-transform: rotate(-90deg);
                      transform: rotate(-90deg);
              font-family: "Oswald-Medium";
              bottom: 205px;
              right: 10%;
              z-index: -5;
              color: #fff;
              letter-spacing: 15px; }
            .contacts-row__inner:last-child .contacts-title-second {
              color: #505050;
              font-family: "Oswald-Medium";
              font-size: 48px;
              font-weight: 500;
              font-style: italic;
              margin: 0;
              text-transform: uppercase;
              color: #000;
              margin: 0 0 176px; }
            .contacts-row__inner:last-child h4 {
              font-size: 14px;
              font-weight: 300;
              font-family: "Oswald-Regular";
              text-transform: uppercase;
              margin: 0 0 30px; }
            .contacts-row__inner:last-child address {
              max-width: 292px;
              width: 100%; }
              .contacts-row__inner:last-child address p {
                font-family: "OpenSansRegular";
                font-size: 16px;
                color: #fff;
                margin: 0 0 5px; }
                .contacts-row__inner:last-child address p:first-child {
                  margin: 0 0 30px; }
                .contacts-row__inner:last-child address p span {
                  color: #000;
                  font-weight: 700; }
          
          .social {
            background-color: #FFF;
            padding: 50px 0; }
          
          .social-container {
            max-width: 1190px;
            width: 100%;
            padding: 0 10px;
            margin: 0 auto; }
          
          .social-container__row {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row wrap;
                -ms-flex-flow: row wrap;
                    flex-flow: row wrap;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                    justify-content: space-between; }
            .social-container__row:first-child {
              margin: 0 0 120px; }
            .social-container__row div {
              -webkit-transition: all 1s;
              -o-transition: all 1s;
              transition: all 1s; }
              .social-container__row div:hover {
                -webkit-transform: scale(1.05);
                    -ms-transform: scale(1.05);
                        transform: scale(1.05); }
          
          .social-container__row-second {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row;
                -ms-flex-flow: row;
                    flex-flow: row;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: start;
            -webkit-align-items: flex-start;
                -ms-flex-align: start;
                    align-items: flex-start;
            margin: 0 0 63px; }
          
          .social-container__row-second-socials-netw {
            max-width: 298px;
            width: 100%; }
            .social-container__row-second-socials-netw p {
              margin: 0 0 35px;
              color: #000;
              font-family: "Oswald-Light";
              font-weight: 300;
              text-transform: uppercase; }
            .social-container__row-second-socials-netw .socials-list {
              margin: 0;
              padding: 0;
              list-style-type: none;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -webkit-flex-flow: row wrap;
                  -ms-flex-flow: row wrap;
                      flex-flow: row wrap;
              margin: auto 0 0; }
              .social-container__row-second-socials-netw .socials-list li:not(:last-child) {
                margin: 0 20px 0 0; }
              .social-container__row-second-socials-netw .socials-list li:nth-child(-n+3) {
                margin-bottom: 10px; }
              .social-container__row-second-socials-netw .socials-list li a {
                text-decoration: none;
                font-family: "OpenSansLight";
                color: #505050;
                -webkit-transition: all 1s;
                -o-transition: all 1s;
                transition: all 1s; }
                .social-container__row-second-socials-netw .socials-list li a:hover {
                  color: #000; }
          
          .social-container__row-second-logo {
            margin: 7px 0 0;
            -webkit-transition: all 1.5s;
            -o-transition: all 1.5s;
            transition: all 1.5s; }
            .social-container__row-second-logo:hover {
              -webkit-transform: scale(1.05);
                  -ms-transform: scale(1.05);
                      transform: scale(1.05); }
            .social-container__row-second-logo img {
              max-width: 167px; }
          
          .social-container__row-second-posts {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-flow: column nowrap;
                -ms-flex-flow: column nowrap;
                    flex-flow: column nowrap; }
            .social-container__row-second-posts p {
              margin: 0 0 25px;
              color: #000;
              font-family: "Oswald-Light";
              font-weight: 300;
              text-transform: uppercase; }
          
          .social-container__row-second-posts__wrapper {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row nowrap;
                -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;
            margin: 0;
            padding: 0;
            list-style-type: none; }
            .social-container__row-second-posts__wrapper li {
              -webkit-transition: all 1s;
              -o-transition: all 1s;
              transition: all 1s; }
              .social-container__row-second-posts__wrapper li:not(:last-child) {
                margin: 0 6px 0 0; }
              .social-container__row-second-posts__wrapper li:hover {
                -webkit-transform: scale(1.05);
                    -ms-transform: scale(1.05);
                        transform: scale(1.05); }
              .social-container__row-second-posts__wrapper li img {
                max-width: 100%;
                height: auto; }
          
          .social-subtitle {
            margin: 0;
            text-align: center;
            font-family: "Oswald-Regular";
            text-transform: uppercase;
            font-size: 16px;
            color: #505050; }
            .social-subtitle span {
              color: #77601d;
              -webkit-transition: all 1s;
              -o-transition: all 1s;
              transition: all 1s; }
          
          .inner_soc_container .inner_soc_content .youtube {
            display: block; }
          
          .slick-dots {
            margin: 0;
            padding: 0; }
            .slick-dots li {
              width: 10px;
              height: 10px;
              margin: 0;
              background-color: #FFF;
              -webkit-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                      transform: rotate(45deg); }
              .slick-dots li:not(:first-child) {
                margin: 0 0 0 15px; }
              .slick-dots li button {
                display: none; }
            .slick-dots .slick-active {
              background-color: #77601d; }
          
          #loader-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 200;
            overflow: hidden; }
            .no-js #loader-wrapper {
              display: none; }
          
          #loader {
            display: block;
            position: relative;
            left: 50%;
            top: 50%;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #77601d;
            -webkit-animation: spin 1.7s linear infinite;
                    animation: spin 1.7s linear infinite;
            z-index: 11; }
            #loader:before {
              content: "";
              position: absolute;
              top: 5px;
              left: 5px;
              right: 5px;
              bottom: 5px;
              -webkit-border-radius: 50%;
                      border-radius: 50%;
              border: 3px solid transparent;
              border-top-color: #e74c3c;
              -webkit-animation: spin-reverse .6s linear infinite;
                      animation: spin-reverse .6s linear infinite; }
            #loader:after {
              content: "";
              position: absolute;
              top: 15px;
              left: 15px;
              right: 15px;
              bottom: 15px;
              -webkit-border-radius: 50%;
                      border-radius: 50%;
              border: 3px solid transparent;
              border-top-color: #77601d;
              -webkit-animation: spin 1s linear infinite;
                      animation: spin 1s linear infinite; }
          
          @-webkit-keyframes spin {
            0% {
              -webkit-transform: rotate(0deg);
                      transform: rotate(0deg); }
            100% {
              -webkit-transform: rotate(360deg);
                      transform: rotate(360deg); } }
          
          @keyframes spin {
            0% {
              -webkit-transform: rotate(0deg);
                      transform: rotate(0deg); }
            100% {
              -webkit-transform: rotate(360deg);
                      transform: rotate(360deg); } }
          
          @-webkit-keyframes spin-reverse {
            0% {
              -webkit-transform: rotate(0deg);
                      transform: rotate(0deg); }
            100% {
              -webkit-transform: rotate(-360deg);
                      transform: rotate(-360deg); } }
          
          @keyframes spin-reverse {
            0% {
              -webkit-transform: rotate(0deg);
                      transform: rotate(0deg); }
            100% {
              -webkit-transform: rotate(-360deg);
                      transform: rotate(-360deg); } }
          
          #loader-wrapper .loader-section {
            position: fixed;
            top: 0;
            width: 51%;
            height: 100%;
            background: #000;
            z-index: 10; }
          
          #loader-wrapper .loader-section.section-left {
            left: 0; }
          
          #loader-wrapper .loader-section.section-right {
            right: 0; }
          
          /* Loaded styles */
          .loaded #loader-wrapper .loader-section.section-left {
            -webkit-transform: translateX(-100%);
                -ms-transform: translateX(-100%);
                    transform: translateX(-100%);
            -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            -o-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
          
          .loaded #loader-wrapper .loader-section.section-right {
            -webkit-transform: translateX(100%);
                -ms-transform: translateX(100%);
                    transform: translateX(100%);
            -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            -o-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
          
          .loaded #loader {
            opacity: 0;
            -webkit-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; }
          
          .loaded #loader-wrapper {
            visibility: hidden;
            -webkit-transform: translateY(-100%);
                -ms-transform: translateY(-100%);
                    transform: translateY(-100%);
            -webkit-transition: all 0.3s 1s ease-out;
            -o-transition: all 0.3s 1s ease-out;
            transition: all 0.3s 1s ease-out; }

/* CUSTOM*/

.mobile-photo-container{
  display: none;
}