@media only screen and (max-width: 1614px) {
    .btn-menu {
      width: 50px;
      height: 50px;
      line-height: 50px;
      display: block; }
    .header-wrapperr {
      position: fixed;
      background-color: #101010;
 }
    .header-container {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .header-logo img {
      height: 50px; }
    .header-logo:hover {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
    .header-social {
      display: none; }
    .header-info {
      display: none; }
    #scene .layer {
      position: relative; }
      #scene .layer .trend-wrapper {
        top: 20%; }
        #scene .layer .trend-wrapper .trend {
          font-size: 90px;
          text-shadow: -5px 5px 15px black; }
      #scene .layer .slogan-wrapper {
        top: 60%; }
        #scene .layer .slogan-wrapper .slogan {
          text-shadow: -5px 5px 15px black;
          font-size: 50px; }
      #scene .layer .header-sales {
        top: 85%; }
    .about-title:before {
      display: none; }
    .classes-title:before {
      display: none; }
    .schedule-title:before {
      display: none; }
    .tabs-content > * {
      border: none; }
    .services-title:before {
      display: none; }
    .prices-title {
      margin: 0 0 200px; }
      .prices-title:before {
        display: none; } 
       
      }
  
  @media only screen and (max-width: 1614px) and (max-width: 1144px) {
    .prices-container__item:not(:last-child) {
      margin: 0 0 170px; } }
  
  @media only screen and (max-width: 1614px) {
    .stories-title:before {
      display: none; }
    .news-title:before {
      display: none; }
    .news-container__wrapper {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; } }
  
  @media only screen and (max-width: 1614px) and (max-width: 1144px) {
    .news-container__wrapper-item:not(:last-child) {
      margin: 0 0 170px; } }
  
  @media only screen and (max-width: 1614px) {
    .gallery-title:before {
      display: none; }
    .contacts-container .contacts-row__inner .contacts-row__inner-back {
      display: none; } }
  
  @media only screen and (max-width: 1024px) {
    .btn-menu {
      width: 50px;
      height: 50px;
      line-height: 50px;
      display: block; }
    .header-wrapperr {
      position: fixed;
      background-color: #101010;
}
    .header-container {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .header-logo img {
      height: 50px; }
    .header-logo:hover {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
    .header-social {
      display: none; }
    .header-info {
      display: none; }
    #scene .layer {
      position: relative; }
      #scene .layer .trend-wrapper {
        top: 20%; }
        #scene .layer .trend-wrapper .trend {
          font-size: 80px;
          text-shadow: -5px 5px 15px black; }
      #scene .layer .slogan-wrapper {
        top: 60%; }
        #scene .layer .slogan-wrapper .slogan {
          text-shadow: -5px 5px 15px black;
          font-size: 40px; }
      #scene .layer .header-sales {
        top: 85%; }
    .about {
      padding: 25px 0;
      background-color: rgb(0 0 0); }
    .about-title {
      text-align: center; }
      .about-title:before {
        display: none; }
      /* .about-title:after {
       
          position: absolute;
          background-color: #77601d;
          content: "";
          display: block;
          height: 6px;
          left: 6px;
          top: 87px;
          width: 50%;
          margin-left: 25%;
          margin-bottom: 25px;
          text-align: center;}  */
    .about-row .about-row__item:first-child {
      display: none; }
      
     

       /*CUTSTOM*/

       .mobile-photo-container{
        text-align: center;
        display: block;
        margin-bottom: 25px;           }
           .mobile-photo{
            width: 80%;
            padding:10px;
          }

      
      
      .about-row .about-row_photo {
        display: none; }




    .about-row .about_text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0 10px; }
      .about-row .about_text h4 {
        text-align: center;
        margin: 0 0 30px; }
      .about-row .about_text p {
        color: whitesmoke;
        text-align: center;
        margin: 0 0 25px; }
      .about-row .about_text .member__link {
        margin: 0 auto; }
    .classes {
      padding: 75px 0; }
    .classes-title:before {
      display: none; }
    .classes-galery .classes-galery__btns {
      bottom: -120px;
      left: 50%;
      -webkit-transform: translate(-84px);
          -ms-transform: translate(-84px);
              transform: translate(-84px); }
    .schedule {
      padding: 75px 0; }
    .schedule-title:before {
      display: none; }
    .tabs-content > * {
      border: none; }
    .services {
      padding: 75px 0; }
    .services-title:before {
      display: none; }
    .services-container img {
      opacity: .5; }
    .prices {
      padding: 75px 0; }
    .prices-title {
      margin: 0 0 200px; }
      .prices-title:before {
        display: none; }
    .prices-container__item {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      .prices-container__item:not(:last-child) {
        margin: 0 0 170px; }
      .prices-container__item .prices-container__item-row {
        margin-top: 0;
        margin-bottom: 20px; }
    .stories {
      padding: 75px 0; }
    .stories-title:before {
      display: none; }
    .btn-prev {
      display: none; }
    .btn-next {
      display: none; }
    .news {
      padding: 75px 0; }
    .news-title:before {
      display: none; }
    .news-container__wrapper {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      margin: 0 0 185px; }
    .news-container__wrapper-item:not(:last-child) {
      margin: 0 0 200px; }
    .gallery {
      padding: 75px 0; }
    .gallery-title:before {
      display: none; }
    .contacts .contacts-row__inner-back {
      display: none; }
    .contacts .contacts-row {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row;
          -ms-flex-flow: row;
              flex-flow: row; }
      .contacts .contacts-row .contacts-row__inner button {
        margin: 0 auto; }
    .social-container .social-container__row {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      margin: 0 0 50px; }
    .social-container .social-container__row-second {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      margin: 0 0 33px; } }
  
  @media only screen and (max-width: 780px) {
    .btn-menu {
      width: 50px;
      height: 50px;
      line-height: 50px;
      display: block; }
    .header-wrapperr {
      position: fixed;
      background-color: #101010;
    }
    .header-container {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .header-logo img {
      height: 50px; }
    .header-logo:hover {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
    .header-social {
      display: none; }
    .header-info {
      display: none; }
    #scene .layer {
      position: relative; }
      #scene .layer .trend-wrapper {
        top: 20%; }
        #scene .layer .trend-wrapper .trend {
          font-size: 56px;
          text-shadow: -5px 5px 15px black; }
      #scene .layer .slogan-wrapper {
        top: 60%; }
        #scene .layer .slogan-wrapper .slogan {
          text-shadow: -5px 5px 15px black;
          font-size: 28px; }
      #scene .layer .header-sales {
        top: 85%; }
    .about {
      padding: 25px 0;
      background-color: #000; }
    .about-title {
      font-size: 40px;
      text-align: center; }
      .about-title:before {
        display: none; }
      /* .about-title:after {
        display: none; } */
    .about-row .about-row__item:first-child {
      display: none; }
    .about-row .about_text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0 10px; }
      .about-row .about_text h4 {
        text-align: center;
        margin: 0 0 30px; }
      /* .about-row .about_text p {
        color: #000;
        text-align: center;
        margin: 0 0 25px; } */
      .about-row .about_text .member__link {
        margin: 0 auto; }
    .classes {
      padding: 75px 0; }
    .classes-title:before {
      display: none; }
    .classes-galery {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .classes-galery .classes-galery__item {
        margin: 0;
        padding: 0; }
        .classes-galery .classes-galery__item p {
          margin: 0 auto 67px; }
        .classes-galery .classes-galery__item img {
          display: none; }
        .classes-galery .classes-galery__item .classes__link {
          margin: 0 auto; }
        .classes-galery .classes-galery__item span {
          display: none; }
      .classes-galery .classes-galery__btns {
        bottom: -110px;
        left: 50%;
        -webkit-transform: translate(-84px);
            -ms-transform: translate(-84px);
                transform: translate(-84px); }
    .schedule {
      padding: 75px 0; }
    .schedule-title:before {
      display: none; }
    .tabs-content > * {
      border: none; }
    .services {
      padding: 75px 0; }
    .services-title:before {
      display: none; }
    .services-container img {
      display: none; }
    .services-container .item-wrapper {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      .services-container .item-wrapper .services-container__item:nth-child(2n) {
        margin: 0 36px 0 0; }
    .prices {
      padding: 75px 0; }
    .prices-title {
      margin: 0 0 200px; }
      .prices-title:before {
        display: none; }
    .prices-container__item {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      .prices-container__item:not(:last-child) {
        margin: 0 0 210px; }
      .prices-container__item .prices-container__item-row {
        margin-top: 0;
        margin-bottom: 20px; }
    .stories {
      padding: 75px 0; }
    .stories-title:before {
      display: none; }
    .btn-prev {
      display: none; }
    .btn-next {
      display: none; }
    .news {
      padding: 75px 0; }
    .news-title:before {
      display: none; }
    .news-container__wrapper {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 0 185px; }
    .news-container__wrapper-item:not(:last-child) {
      margin: 0 0 200px; }
    .gallery {
      padding: 75px 0; }
    .gallery-title:before {
      display: none; }
    .gallery-nav {
      margin: 0 0 25px; }
    .contacts .contacts-row__inner-back {
      display: none; }
    .contacts .contacts-row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column;
          -ms-flex-flow: column;
              flex-flow: column; }
      .contacts .contacts-row .contacts-row__inner {
        padding-top: 50px;
        padding-bottom: 50px; }
        .contacts .contacts-row .contacts-row__inner button {
          margin: 0 auto; }
      .contacts .contacts-row .contacts-title-second {
        margin: 0 0 75px; }
    .social-container .social-container__row {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      margin: 0 0 50px; }
    .social-container .social-container__row-second {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .social-container .social-container__row-second-logo {
      margin: 50px 0 0;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .social-container .social-container__row-second-posts {
      margin: 50px 0 0; } }
  
  @media only screen and (max-width: 480px) {
    .btn-menu {
      width: 50px;
      height: 50px;
      line-height: 50px;
      display: block; }
    /* .hidden-menu ul li:nth-child(3) {
      display: none; }
    .hidden-menu ul li:nth-child(7) {
      display: none; }
    .hidden-menu ul li:nth-child(9) {
      display: none; } */
    .header-wrapperr {
      position: fixed;
      background-color: #101010;
    }
    .header-container {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .header-logo img {
      height: 50px; }
    .header-logo:hover {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
    .header-social {
      display: none; }
    .header-info {
      display: none; }
    #scene .layer {
      position: relative; }
      #scene .layer .trend-wrapper {
        top: 20%; }
        #scene .layer .trend-wrapper .trend {
          font-size: 46px;
          text-shadow: -5px 5px 15px black; }
      #scene .layer .slogan-wrapper {
        top: 55%; }
        #scene .layer .slogan-wrapper .slogan {
          text-shadow: -5px 5px 15px black;
          font-size: 20px; }
      #scene .layer .header-sales {
        top: 85%; }
    .statistics-row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .statistics-row__item {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      max-width: 200px;
      width: 100%; }
      .statistics-row__item img {
        margin: 0 10px 0 0; }
      .statistics-row__item:nth-child(2) img {
        margin: 0 39px 0 0; }
      .statistics-row__item:nth-child(3) img {
        margin: 0 26px 0 0; }
    .about {
      padding: 25px 0 0;
      background-color: #000; }
    .about-title {
      text-align: center; }
      .about-title:before {
        display: none; }
      /* .about-title:after {
        display: none; } */
    .about-row .about-row__item:first-child {
      display: none; }
    .about-row .about_text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0 10px; }
      .about-row .about_text h4 {
        text-align: center;
        margin: 0 0 30px; }
      /* .about-row .about_text p {
        color: #000;
        text-align: center;
        margin: 0 0 25px; } */
      .about-row .about_text .member__link {
        margin: 0 auto; }
    .classes {
      display: none; }
    .schedule {
      padding: 50px 0 0; }
    .schedule-title {
      margin: 0 0 30px; }
      .schedule-title:before {
        display: none; }
    .schedule-row .tabs {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      margin: 0; }
      .schedule-row .tabs .tab {
        width: 100%; }
    .schedule-row .tabs-content > * {
      border: none; }
    .services {
      padding: 50px 0; }
    .services-title:before {
      display: none; }
    .services-container .item-wrapper {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      .services-container .item-wrapper:first-child {
        margin: 0 0 50px; }
      .services-container .item-wrapper .services-container__item span {
        font-size: 113px; }
      .services-container .item-wrapper .services-container__item:last-child {
        margin: 0 40px 0 0; }
    .services-container .services-img {
      display: none; }
    .prices {
      padding: 50px 0; }
    .prices-title {
      margin: 0 0 50px; }
      .prices-title:before {
        display: none; }
    .prices-container__item {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      padding-top: 0;
      width: 300px; }
      .prices-container__item:not(:last-child) {
        margin: 0 0 30px; }
      .prices-container__item h3 {
        margin: 20px 0; }
      .prices-container__item > img {
        display: none; }
      .prices-container__item .trainer {
        display: block;
        width: 100px;
        height: 100px;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        margin: 0 0 20px; }
        .prices-container__item .trainer img {
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          width: 100px;
          height: 100px; }
      .prices-container__item .prices-container__item-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        height: 120px;
        margin: 0 0 20px; }
    .stories {
      display: none; }
    .news {
      padding: 50px 0; }
    .news-title:after {
      display: none; }
    .news-title:before {
      display: none; }
    .news-container__wrapper {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 0 185px; }
    .news-container__wrapper-item:not(:last-child) {
      margin: 0 0 200px; }
    .gallery {
      display: none; }
    .contacts-row .contacts-row__inner .contacts-title-second, .contacts-row .contacts-row__inner .contacts-title-first {
      font-size: 22px; }
    .contacts-row .contacts-row__inner form button {
      margin: 0 auto; }
    .contacts-row .contacts-row__inner .contacts-title-second {
      margin: 0 0 70px; }
    .contacts-row .contacts-row__inner .contacts-row__inner-back {
      display: none; }
    .social {
      padding: 50px 0; }
    .social-container__row {
      display: none; }
    /*	flex-flow: column nowrap
          justify-content: space-between
          &:first-child
              margin: 0 0 60px
          div
              &:not(:last-child)
                  margin: 0 0 25px
              text-align: center */
    .social-container__row-second {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 0 15px;
      text-align: center; }
    .social-container__row-second-socials-netw {
      margin: 0 0 50px; }
      .social-container__row-second-socials-netw .socials-list {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
    .social-container__row-second-logo {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      margin: 0; }
    .social-container__row-second-posts {
      margin: 0; }

    /*CUTSTOM*/

      .mobile-photo-container{
        text-align: center;
        display: block;
        margin-bottom: 25px;           }
           .mobile-photo{
            width: 100%;
            padding:10px;

           }
    }
  