/* .footerHr{
    background-color: #b9962da4;
} */

.phone-number{
    color: white;

  }

  
/* .footerDiv {
    background: #101010;
    width: 100%;
    position: sticky;
    bottom: 0;
    top: 100%;
    padding: 10px;
    margin-top: 50px;
} */

/* @media only screen and (max-width: 769px) {
    .footerDiv {
        position: absolute;
        bottom: 0;
        top: 100%;
        padding: 10px;
        margin-top: 50px;
    }
} */