.aws-btn {

    --slider-height-percentage: 53%;
    --slider-transition-duration: 346ms;
    --organic-arrow-thickness: 13px;
    --organic-arrow-border-radius: 15px;
    --organic-arrow-height: 66px;
    --organic-arrow-color: #000000;
    --control-button-width: 13%;
    --control-button-height: 51%;
    --control-button-background: transparent;
    --control-bullet-color: #e3c816;
    --control-bullet-active-color: #ffbd2e;
    --loader-bar-color: #851515;
    --loader-bar-height: 6px;
    }