.notUsetTitle{
    font-size: 80%; font-weight: 400; text-align: center; color: #505050; font-family: "Oswald-Medium"
}

.Table{
    width:80%;
    margin: auto
}

.tableTh{
    border-color: rgb(185 151 45) !important;
    border-width: 2px !important
}

.tableTr{
    border-color: rgb(185 151 45); border-width: 2px; backgroundC-clor: #50505040 
}

.tableTd{
    border-color: rgb(185 151 45)!important;
    border-width: 2px!important;
}

.tableBCalncle{
    color: #0062cc; font-size: 16px ; cursor: pointer
}

.tableBBusy{
    color: #b9972d; font-size: 16px
}

.tableBAvailable{
    color: #28a745; font-size: 16px; cursor: pointer
}